{% extends "navbar.html" %} {% block content %}
<div class="contact">
  <div class="contactUser">
  <img src="/static/imdb_posters/The Wolf of Wall Street.jpg" alt="Avatar" class="image2">
  <h5 class="contactText">Frederik Højer Nielsen - rwl458@alumni.ku.dk</h5>
  </div>
  <div class="contactUser">
  <img src="/static/imdb_posters/Eternal Sunshine of the Spotless Mind.jpg" alt="Avatar" class="image2">
  <h5 class="contactText">Marius Clausen Hansen De Cordier - wck138@alumni.ku.dk</h5>
  </div>
</div>
{% endblock content %}
