{% extends "navbar.html" %} {% block content %}
<h1>IMDB Top 1000 Database!</h1>
<div class="querybox">
  <a href="/movie/{{ randomNumber }}">
    <input type="submit" id="button" value="Random" />
  </a>
</div>
<form action="" method="post" class="queryform">
  <div class="querybox">
    <input maxlength=100 type="text" id="form" name="title" placeholder="Movie Title" />
    <input type="submit" name="title" id="button" value="Go" />
  </div>
  <div class="querybox">
    <label class="radio">Genre:
      <input type="text" id="form" name="genre" placeholder="Genre" />
    </label>
  </div>
  <div class="querybox">
    <label class="radio">Director:
      <input type="text" id="form" name="director" placeholder="Director" />
    </label>
  </div>
  <div class="querybox">
    <label class="radio">IMDB Rating:
      <input type="number" step="0.1" id="form" name="rating" placeholder="Rating" />
    </label>
  </div>
  <div class="querybox">
    <input type="submit" id="button" value="Search" />
  </div>
</form>
<div class="cards">
  {% for i in range(0, length) %}
  <a href="/movie/{{ content[i][16] }}">
    <div class="card">
      <div style="display: flex; justify-content: center;"></div>
        <img src="/static/{{content[i][15]}}" alt="Avatar" class="image" />
      <div class="container">
        <h4><b>{{ content[i][0] }}</b></h4>
        <p class="card-text">Released Year: {{ content[i][1] }}</p>
        <p class="card-text">Certificate: {{ content[i][2] }}</p>
        <p class="card-text">Runtime: {{ content[i][3] }}</p>
        <p class="card-text">Genre: {{ content[i][4] }}</p>
        <p class="card-text">IMDB Rating: {{ content[i][5] }}</p>
        <p class="card-text">Meta Score: {{ content[i][7] }}</p>
        <p class="card-text">Director: {{ content[i][8] }}</p>
        <p class="card-text">Stars: {{ content[i][9] }}, {{ content[i][10] }}, {{ content[i][11] }}, {{ content[i][12] }}</p>
        <p class="card-text">No of Votes: {{ content[i][13] }}</p>
        <p class="card-text">Gross: {{ content[i][14] }}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock content %}
